@use 'variables';

@mixin card ($url){
    width: 288px;
    height: 160px;
    color: variables.$White;
    padding: 20px;
    background: {
        image: url($url);
        size: contain;
        repeat: no-repeat;
    };
    @media (min-width: 1440px){
        width: 450px;
        height: 247px;
        padding: 30px;
    }
}

@mixin card-position ($left, $top, $d-left, $d-top) {
    position: absolute;
    left: $left;
    top: $top;
    @media (min-width:1440px) {
        left: $d-left;
        top: $d-top;
    }
}